<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-twilio-video" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>TwilioVideo</name><js-module name="TwilioVideo" src="www/TwilioVideo.js"><clobbers target="cordova.plugins.TwilioVideo" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="TwilioVideo"><param name="ios-package" value="TwilioVideo" /></feature></config-file><source-file src="src/ios/TwilioVideo.m" /></platform></plugin>
